.list {
  background: linear-gradient(to bottom right, var(--ion-color-step-150) 0%, var(--ion-color-step-350) 100%);
  color: var(--ion-color-step-950);
}

.listContainer {
  max-width: 400px;
  margin: 0 auto;
}
