.strava-list-item {
  margin-top: 10px !important;
  max-width: 400px;
  border: 1px solid white;
  border-radius: 10px;
}

.centerText {
  text-align: center !important;
}

body {
  background-color: grey !important;
}
